<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pkpassProcessorConfiguration" type="pkpass2cal.Configuration.PkPassProcessorConfigurationSection, pkpass2cal, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <pkpassProcessorConfiguration>
    <pkpassProcessorDomainList>
      <add domain="venta.renfe.com" type="pkpass2cal.PkpassProcessors.RenfeProcessor" assembly="pkpass2cal, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"></add>
      <!--<add domain="venta.renfe.com" type="MyPkpassProcessors.MyRenfeProcessor" assembly="MyPkpassProcessors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"></add>-->
    </pkpassProcessorDomainList>
    <pkpassProcessorIssuerList>
      <add identifierType="pass.kinepolis.singleESES" type="pkpass2cal.PkpassProcessors.KinepolisProcessor" assembly="pkpass2cal, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"></add>
      <add identifierType="pass.com.renfe.RenfeTicket" type="pkpass2cal.PkpassProcessors.RenfeProcessor" assembly="pkpass2cal, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"></add>
    </pkpassProcessorIssuerList>
    <cloudService localDirectory="\Aplicaciones\Mobile Downloads\" type="pkpass2cal.CloudServices.DropboxHelper"></cloudService>
  </pkpassProcessorConfiguration>
</configuration>